# Dependencies
node_modules/

# Build Output
dist/
demo/dist/

# Testing
coverage/

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor & OS
.vscode/
.idea/
.DS_Store

# Custom
Instructions.md